.product {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  &--big{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &__block {
    background: rgba(39, 39, 39, 1);
    height: 412px;
    width: 100%;
    align-self: stretch;
    border-radius: 14px;
    position: relative;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:hover {
    .product__cart-add {
      background-color: rgba(200, 0, 0, 1);
    }
  }
  &__cart-add-wrap {
    position: relative;
  }
  &__cart-add {
    position: absolute;
    top: 22px;
    right: 22px;
    line-height: 0;
    padding: 3px;
    border-radius: 100px;
    transition: all .3s linear;
    &-cart{
      display: none;
      position: absolute;
      top: 4px;
      right: 0;
    }
    &:hover{
      padding-right: 25px;
      .product__cart-add-cart{
        display: inline;
      }
    }
  }
  &__price{
    font-weight: 600;
    font-size: 14px;
    color: $grey;
    .isnew{
      margin-left: 20px;
      color: red;
    }
  }
}
@media screen and (max-width:768px) {
  .product{
    width: 300px;
    margin: 0 auto;
    &__block{
      max-height: 378px;
      width: 300px;
    }
    &__image{
      width: 276px;
      max-height: 212px;
    }
  }
}
@media screen and (max-width:425px){
  .product{
    width: min-content;
    margin: 0 auto;
    &__block{
      max-height: 330px;
      width: 276px;
    }
    &__image{
      width: 276px;
      max-height: 212px;
    }
    
  }
}