$grey:#878787;
$grey-back:#353535;
$lightgrey:#F6F6F6;
$greytext:#ADACAC;
$grey-block: #303030;
.greytext{
  color: $greytext;
}
$dark:rgba(39, 39, 39, 1);
.hide{
  display: none;
}
.active{
  display: block;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
